examples/mobile-data.json
[{"id":"ac26b2594fd8f952","type":"huawei-send-cmd","z":"ddccb266ca148e6c","name":"","cmdOption":"MobileData","x":450,"y":2020,"wires":[[]]},{"id":"a4531c8d625b2660","type":"inject","z":"ddccb266ca148e6c","name":"data off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":150,"y":2020,"wires":[["ac26b2594fd8f952"]]},{"id":"0cf2c54a75db7b73","type":"inject","z":"ddccb266ca148e6c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off-on","payloadType":"str","x":150,"y":2060,"wires":[["ac26b2594fd8f952"]]},{"id":"a4f414b43e10d19f","type":"inject","z":"ddccb266ca148e6c","name":"data on","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"str","x":150,"y":1980,"wires":[["ac26b2594fd8f952"]]}]