examples/mobile-data.json
[{"id":"1afec9e2962bbf66","type":"huawei-mobiledata","z":"e188845e3eb39d84","name":"","mode":"off-on","x":460,"y":2440,"wires":[[]]},{"id":"829c500bc9e53830","type":"inject","z":"e188845e3eb39d84","name":"turn data on","props":[{"p":"payload"},{"p":"mode","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":190,"y":2380,"wires":[["1afec9e2962bbf66"]]},{"id":"9a6ff07b8b2ed6aa","type":"inject","z":"e188845e3eb39d84","name":"turn data off","props":[{"p":"payload"},{"p":"mode","v":"0","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":190,"y":2440,"wires":[["1afec9e2962bbf66"]]},{"id":"541e52de4a450dc2","type":"inject","z":"e188845e3eb39d84","name":"turn data off then on again","props":[{"p":"payload"},{"p":"mode","v":"off-on","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":150,"y":2500,"wires":[["1afec9e2962bbf66"]]},{"id":"716508cd9813eb39","type":"inject","z":"e188845e3eb39d84","name":"toggle data","props":[{"p":"payload"},{"p":"mode","v":"toggle","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":200,"y":2560,"wires":[["1afec9e2962bbf66"]]}]